{% extends "base_cook.html" %}

<!-- dummy html template for demonstration, only exists so git recognizes an empty folder -->
<!-- feel free to delete this -->

{% block page_css %}
<!-- page css -->
<style>
* {box-sizing: border-box}
body {font-family: Arial, Helvetica, sans-serif;}
.menu {
  width: 85%;
  margin: auto;
}
.text {
  background-color: #4CAF50;
  float: left;
  padding: 12px;
  margin-bottom: 5px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 100%;
  height: 80px;
  text-align: center;
  opacity: .9;
  border: none;
}
.text:hover {
  opacity: 1;
}
.text {
    padding: 35px;
}
th, td {
	border: 0px solid black;
	border-collapse: collapse;
	font-family: sans-serif;
	padding: 3px;
}
.bigT {
	width: 100%;
	font-size: 15px;
}
th {
  font-size: 20px;
  text-align: center;
  background: rgba(76, 175, 80, 0.3);
}
td {
  font-size: 15px;
  text-align: center;
}
tr:nth-child(even) {background-color: #f2f2f2}

.edit, .delete {
  background-color: NULL;
  color: black;
  border: 0px ;
  text-decoration: none;
}

#rt {
  background-color: NULL;
  color: black;
  border: 0px ;
  text-decoration: none;
}
#rt:hover {
  background-color: pink;
  color: white;
}
.edit:hover {
  background-color: blue;
  color: white;
}
.delete:hover {
  background-color: red;
  color: white;
}
input, #state {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.clearfix button {
  float: left;
  width: 50%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  height: 0%;
}
button:hover {
  opacity:1;
}
.clearfix .cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

.container {
  padding: 16px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
  color: white;
}
</style>
{% endblock %}

{% block page_js %}
<!-- page javascript -->
<script>
$(document).ready(function(){
$("#food").hide()
$("#addFood").hide()
$("#supply").hide()
$("#addSupply").hide()
  $("#a").click(function(){
    $("#food").toggle(1000);
  });
  $("#b").click(function(){
    $("#addFood").toggle(1000);
  });
  $("#c").click(function(){
    $("#supply").toggle(1000);
  });
  $("#d").click(function(){
    $("#addSupply").toggle(1000);
  });
});
function myFunction() {
  var rate = prompt("Please enter rating:", "Rating out of 5");
}
</script>
{% endblock %}

{% block page_content %}
  <h1 style = "text-align:center">COOKS Homepage</h1>
  <p>Warnings: {{ warnings }}</p>
  <div class="menu">
    <button class="text" id="a">My Food Items</button>
    <div id = 'food'>
      <table class=bigT>
        <tr>
          <th>Food Item</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
        {% for food in cookfood %}
        <form method="POST" action="{% url "cook-home" %}">
          {% csrf_token %}
          <input type="hidden" name="task" value="deletefood" />
          <input type="hidden" name="foodId" value="{{ food.id }}" />
          <tr valign='center'>
            <td>{{ food.name }}</td>
            <td>{{ food.price }}</td>
            <td>
              <a href="#" class="edit">Edit </a>
              <a>....</a>
              <input type="submit" class="delete" value="Delete">
            </td>
          </tr>
        </form>
        {% endfor %}
      </table>
    </div>
    <br>
    <button class="text" id="b">Add New Food Item</button>
    <div id="addFood">
      <form method="POST" action="{% url "cook-home" %}" style="border:1px solid #ccc" >
        {% csrf_token %}
        <input type="hidden" name="task" value="addfood" />
        <div class="container">
          <label for="foodname"><b>Food Name</b></label>
          <input type="text" placeholder="Enter Name of Food" name="foodname" required>
          <label for="price"><b>Price</b></label>
          <input type="number" placeholder="Enter Price" name="price" required>

          <label for="description"><b>Description</b></label>
          <input type="text" placeholder="Enter Description" name="description" required>

          <label for="vipfree"><b>Description</b></label>
          <input type="hidden" name="vipfree" value="0" />
          <input type="checkbox" name="vipfree" id="vipfree" value="1" />

          <div class="clearfix">
            <button type="submit" class="add">ADD</button>
            <button type="reset" class="cancelbtn">Cancel</button>
          </div>
        </div>
      </form>
    </div>
    <br>
    <button class="text" id="c">My Supply Items</button>
    <div id = 'supply'>
      <table class=bigT>
        <tr>
            <th>Description</th>
            <th>Price</th>
            <th>Rate/Rating</th>
          </tr>
        {% for supplyorder in supplyorders %}
        <tr valign='center'>
          <td>{{ supplyorder.order_description }}</td>
          <td>{{ supplyorder.price }}</td>
          <td>
            {% if supplyorder.supply_rating == None %}
              {% if supplyorder.finished %}
              <form method="POST" action="{% url "cook-home" %}">
                {% csrf_token %}
                <input type="hidden" name="task" value="ratesupply" />
                <input type="hidden" name="supplyID" value="{{ supplyorder.id }}" />
                <input type="number" name="rating" min="0" max="5">
                <input type="submit" value="Rate">
              </form>
              {% else %}
              No rating, order unfinished
              {% endif %}
            {% else %}
            {{ supplyorder.supply_rating }}
            {% endif %}
          </td>
          {% comment %} <td><button id="rt" onclick="myFunction()">Rate</button></td> {% endcomment %}
        </tr>
        {% endfor %}
      </table>
    </div>
    <br>
    <button class="text" id="d">Request New Supply</button>
    <div id = "addSupply">
      <form method="POST" action="{% url "cook-home" %}" style="border:1px solid #ccc" >
        {% csrf_token %}
        <input type="hidden" name="task" value="requestsupply" />
        <div class="container">
          <label for="supplydes"><b>Supply Description</b></label>
          <input type="text" placeholder="Enter Description" name="supplydes" required>
          <div class="clearfix">
            <button type="submit" class="add">ADD</button>
            <button type="reset" class="cancelbtn">Cancel</button>
          </div>
        </div>
      </form>
    </div>
    <br>
  </div>
{% endblock %}