{% extends "base_salesperson.html" %}

<!-- dummy html template for demonstration, only exists so git recognizes an empty folder -->
<!-- feel free to delete this -->

{% block page_css %}
<!-- page css -->
th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: sans-serif;
    padding: 3px;
    }
.bigT {
    width: 100%;
    font-size: 15px;
    }
th {
    font-size: 20px;
    text-align: center;
    }
tr:nth-child(even) {background-color: #f2f2f2}
.tabh{
    background: rgba(76, 175, 80, 0.3);
    color: black;
    border: 0px;
    padding: 15px;
    }
{% endblock %}

{% block page_js %}
<!-- page javascript -->
{% endblock %}

{% block page_content %}
<!-- page html -->
<div>Warnings: {{ warnings }}</div>
<table class='bigT'>
            <tr>
                <th class="tabh" colspan="4">Order Supplies</th>
            </tr>
            <tr>
                <th>Supply Order ID</th>
                <th>Description</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
            {% for supplyOrder in supplyOrders %}
            {% if not supplyOrder.finished %}
            <tr valign='right'>
                <form method="POST" action="/salesperson/">
                    {% csrf_token %}
                    <input type="hidden" name="orderId" value="{{ supplyOrder.id }}" />       
                    <td>{{ supplyOrder.id }}</td>
                    <td>{{ supplyOrder.order_description }}</td>
                    <td><input type="number" min="0" step="1" name="price" required="required"></td>
                    <td><input type="submit" value="Finish Order!!"></input></td>

                </form>
            </tr>
            {% endif %}
            {% endfor %}
</table>
<br>
<table class='bigT'>
            <tr>
                <th class="tabh" colspan="4">Ordered Supplies</th>
            </tr>
            <tr>
                <th>Supply ID</th>
                <th>Description</th>
                <th>Price</th>
                <th>Rating</th>
            </tr>
            {% for supplyOrder in supplyOrders %}
            {% if supplyOrder.finished %}
            <tr valign='right'>
                <td>{{ supplyOrder.id }}</td>
                <td>{{ supplyOrder.order_description }}</td>
                <td>{{ supplyOrder.price }}</td>
                <td>{{ supplyOrder.supply_rating }}</td>
            </tr>
            {% endif %}
            {% endfor %}
</table>
{% endblock %}