{% extends "base_customer.html" %}

<!-- dummy html template for demonstration, only exists so git recognizes an empty folder -->
<!-- feel free to delete this -->

{% block page_css %}
<!-- page css -->
<style>
        .vertical-menu {
          width: 80%;
          margin: auto;
          padding: 10px;
        }
        .vertical-menu a {
          background-color: #eee;
          color: black;
          display: block;
          padding: 12px;
          text-decoration: none;
          text-align: center;
        }
        .vertical-menu a:hover {
          background-color: #ccc;
        }
        .vertical-menu a.active {
          background-color: #4CAF50;
          color: white;
        }
        .vertical-menu a.active:hover {
           background-color: #4CAF50;
           color: white;
        }
      </style>
{% endblock %}

{% block page_js %}

<script>
function displayRestaurants() {

  var restaurants = ['Jack', 'Blolc', 'Eheh'];

  for (var i = 0; i < restaurants.length; i ++){
    var node = document.createElement("A");
    var x = document.createElement("B");
    var textnode = document.createTextNode(restaurants[i]);
    x.appendChild(textnode);
    node.appendChild(x);
    node.setAttribute('href', 'amazon.com');
    var lineBreak = document.createElement("br");
    node.appendChild(lineBreak);
    var statusText = document.createTextNode("customer status");
    node.appendChild(statusText);
    document.getElementById("restaurant-list").appendChild(node);
  }
}
document.getElementsByTagName("BODY").addEventListener("onload", displayRestaurants());
</script>


{% endblock %}

{% block page_content %}

    <div id="restaurant-list" class="vertical-menu">
      <a class="active">My Restaurants</a>
    </div>

{% endblock %}