{% extends "base_customer.html" %}

{% block page_css %}
<!-- page css -->
<style>
 * {box-sizing: border-box}
body {font-family: Arial, Helvetica, sans-serif;}

th, td {
  border: 0px solid black;
  border-collapse: collapse;
  font-family: sans-serif;
  padding: 3px;
}
.bigT {
  width: 100%;
  font-size: 15px;
}
.smallT {
  width: 90%;
  font-size: 15px;
  margin: auto;
}
th {
  font-size: 20px;
  text-align: center;
  background: rgba(76, 175, 80, 0.3);
}
.smallT th {
  font-size: 20px;
  text-align: center;
  background: rgba(150, 255, 50, 0.3);
}
td {
  font-size: 15px;
  text-align: center;
}
tr:nth-child(even) {background-color: #f2f2f2}

input {
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
#view, #rt{
  background-color: #F0F8FF;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}
#view, #rt:hover {
  opacity:1;
}
#btn{
  float: right;
  padding-right: 10%;
}
.clearfix button {
  float: left;
  width: 50%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  height: 0%;
}
button:hover {
  opacity:1;
}
.clearfix .cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

.container {
  padding: 16px;
  margin: auto;
  width:80%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
  color: white;
}
</style>
{% endblock %}

{% block page_js %}
<script>
  $(document).ready(function(){
  $("#a").hide()
  $("#b").hide()
  $("#c").hide()
  $("#d").hide()
  $("#view").click(function(){
    $("#a").toggle(1000);
  });
  $("#rt").click(function(){
    $("#b").toggle(1000);
  });
});
 function showDivc() {
    var rin= document.getElementById('ratedel').value;
    if(rin <= 2){
    document.getElementById("c").style.display = "block";}
    else{
    document.getElementById("c").style.display = "none";}
}
 function showDivd() {
    var rin= document.getElementById('ratefood').value;
    if(rin <= 2){
    document.getElementById("d").style.display = "block";}
    else{
    document.getElementById("d").style.display = "none";}
}
</script>
{% endblock %}

{% block page_content %}
<h1 style = "text-align:center">My Orders</h1>
  <table class=bigT>
    <tr>
      <th>Order ID</th>
      <th>Price</th>
      <th>Status</th>
      <th>View Orders</th>
    </tr>
    <!-- for loop to enter oder data-->
    <tr valign='center'>
      <td>DATA</td>
      <td>DATA2</td>
      <td>Data3</td>
      <td><button id='view'>View</button></td>
    </tr>
  </table>
  <div id='a'><!-- div for view button-->
  <table class=smallT>
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
    <!-- for loop to enter items data-->
    <tr valign='center'>
      <td>DATA</td>
      <td>DATA2</td>
      <td>Data3</td>
    </tr>
  </table>
    <div id='btn'><button id='rt'>Rate Order</button></div><br>
  </div>
  <div id='b'><!-- div for rate order button if status != pending-->
    <form method="POST" style="border:1px solid #ccc; width:80%; margin:auto;">
      <div class="container">
        <label for="ratedel"><b>Rate Deliverer: </b></label>
        <input id="ratedel" type="number" placeholder="Enter Rating (0-5)" name="ratedel" min=0 max=5 required onchange="showDivc()"/><br>
        <div id='c'style="display:none"><!-- div for complaint if >2-->
          <label for="delcomp"><b>Complaint:</b></label>
          <input type="text" placeholder="Enter Complaint" name="delcomp"><br>
        </div>
        <label for="ratefood"><b>Rate Food: </b></label>
        <input id="ratefood" type="number" placeholder="Enter Rating (0-5)" name="ratefood" min=0 max=5 required onchange="showDivd()"><br>
        <div id='d'style="display:none"><!-- div for complaint if >2-->
          <label for="foodcomp"><b>Complaint: </b></label>
          <input type="text" placeholder="Enter Complaint" name="foodcomp"><br>
        </div>
        <div class="clearfix">
          <button type="submit" class="add">Submit</button>
          <button type="reset" class="cancelbtn">Cancel</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}