{% extends "base_manager.html" %}

<!-- dummy html template for demonstration, only exists so git recognizes an empty folder -->
<!-- feel free to delete this -->

{% block page_css %}
<!-- page css -->

{% endblock %}

{% block page_js %}

<script>
function itemDescription()
{
  alert("This is a description of the item");
}
</script>


{% endblock %}

{% block page_content %}

    <button id = "back-button">Back to restaurants</button>

    <div class = "restaurant"></div>
      <h2 id = "title">Shelby's Cafe</h2>

      <p id = "description">Shelby's cafe is a casual restaurant serving Italian.</p>

    </div>
    <button id = "register">Register</button>

    <div class = "recommendations">

      <div class = "history">
        <h4>Recommendations based on order history:</h4>
        <table class = "table">
          <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Rating</th>
          </tr>
          <tr>
            <td>
              <button class = "rec-item" onclick="itemDescription()">Chicken </button>
            </td>
            <td class = "rec-price">5.99</td>
            <td class = "rec-rating">4.5/5</td>
          </tr>
        <table>
      </div>

      <div class = "popular">
        <h4>Most popular visitor items:</h4>
        <table class = "table">
          <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Rating</th>
          </tr>
          <tr>
            <td>
              <button class = "rec-item" onclick="itemDescription()">Chicken </button>
            </td>
            <td class = "rec-price">5.99</td>
            <td class = "rec-rating">4.5/5</td>
          </tr>
        <table>
      </div>

    </div>
    
    <br>
    <button id = "order">Make an order</button>
    
    <div class="Menu">

      <h2>Menu:</h2>
      <table class = "table">
          <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Rating</th>
          </tr>

          <!--Loop through menu items-->

          <tr>
            <td>
              <button class = "item-name" onclick="itemDescription()">Chicken </button>
            </td>
            <td class = "price">5.99</td>
            <td class = "rating">4.5/5</td>
          </tr>
      </table>
    </div>

    <br>
    <button id = "order">Make an order</button>

{% endblock %}