{% extends "base_customer.html" %}

<!-- dummy html template for demonstration, only exists so git recognizes an empty folder -->
<!-- feel free to delete this -->

{% block page_css %}
<!-- page css -->

{% endblock %}

{% block page_js %}

<script>
function calculateTotal()
{
  var total = 0;
  var discount = Number(document.getElementById("discount").innerText);
  
  var items = document.getElementsByClassName("item");
  for(var i = 0; i < items.length; i ++){
    var item = items[i];
    var price = Number(item.getElementsByClassName("price")[0].innerHTML);
    var qty = Number(item.getElementsByClassName("quantity")[0].value);
    total += price * qty;
  }
  total = total - total * discount;
  var subTotal = total.toFixed(2);
  document.getElementById("total").innerHTML = subTotal;
}

function itemDescription()
{
  alert("This is a description of the item");
}


function speechTranscript(_callback) {

    console.log('working');

    window.SpeechRecognition = window.webkitSpeechRecognition || window.SpeechRecognition;
        let finalTranscript = '';
        let fullTranscript = '';
        let recognition = new window.SpeechRecognition();
        recognition.interimResults = true;
        recognition.maxAlternatives = 10;
        recognition.continuous = true;
        recognition.onresult = (event) => {
          let interimTranscript = '';
          for (let i = event.resultIndex, len = event.results.length; i < len; i++) {
            let transcript = event.results[i][0].transcript;
            if (event.results[i].isFinal) {
              finalTranscript += transcript;
            } else {
              interimTranscript += transcript;
            }
          }
          fullTranscript = finalTranscript + interimTranscript;
          //document.querySelector('body').innerHTML = finalTranscript + '<i style="color:#ddd;">' + interimTranscript + '</>';
          
        }
        recognition.start();
        recognition.onspeechend = function() {
            console.log('Speech has stopped being detected');
            recognition.stop();
            _callback(fullTranscript);
          }
        
  }
  

  function speechToItems(fullTranscript){
    //var fullTranscript = "3 Chicken 2 Fish 8 Salad";
    //console.log(Number(fullTranscript.charAt(0)));

    console.log(fullTranscript);

      var foodQuant = [];
      var quantity = [];
      for (let i = 0; i < fullTranscript.length; i++){
          quantity.push(Number(fullTranscript.charAt(i)));
          i += 2;
          //let j = i;
          var itemName = '';
          for (let j = i; j < fullTranscript.length; j ++) {
            if (fullTranscript.charAt(j) == ' ') {
              break;
            }
            itemName += fullTranscript.charAt(j);
            i++;
          }
          foodQuant.push(itemName);

      }
      //console.log('qty: ' + quantity[0] + ' ' + foodQuant[0]);
      //console.log('qty: ' + quantity[1] + ' ' + foodQuant[1]);
      //console.log('qty: ' + quantity[2] + ' ' + foodQuant[2]);
      
  
      var itemNames = document.getElementsByClassName("item-name");
  
      for(let i = 0; i < foodQuant.length; i ++) {

        //document.getElementsByClassName("quantity")[i].value = 3;

          for (let j = 0; j < itemNames.length; j ++){
              if(foodQuant[i] == itemNames[j].innerHTML.toLowerCase()){
                  document.getElementsByClassName("quantity")[j].value = quantity[j];
                  break;
              }
          }
      }
      calculateTotal();
  
  }
</script>


{% endblock %}

{% block page_content %}

{% comment %} //html {% endcomment %}
    <div class = "order">
        <a href="{% url "customer-restaurant" pk=restaurant.id %}">
          <button id = "back-button">Back to restaurant </button>
        </a>
        <h2>Order:</h2>
  
        <button id="speech-order" onclick="speechTranscript(speechToItems)">Order by voice</button>
  
        <form id = "order-form" method="POST" action="{% url "customer-restaurant-order" pk=restaurant.id %}">
          {% csrf_token %}
          <table id = "order-table">
            <tr>
              <th>Item</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Rating</th>
            </tr>
  
            <!--Loop restaurant items putting quantity form-->
            {% for food in foods %}
            <tr class = "item">
              <td class="item-name">{{ food.name }}</td>
              <td><input class="quantity" name="{{ food.id }}" type = "number" min = "0" max = "20" onchange = "calculateTotal()"></td>
              <td class="price">
                {% if status == 'V' %}
                  {% if food.vip_free %}
                  0
                  {% else %}
                  {{ food.price }}
                  {% endif %}
                {% else %}
                {{ food.price }}      
                {% endif %}
              </td>
              <td class="rating">{{ food.avg_rating }}/5</td>
            </tr>
            {% endfor %}
          </table>
  
          <br>
          <table id = "order-details">
          
            <tr>
              <th>Discount (0.05 = 5% ):</th>
              {% if status == 'V' %}
              <td id = "discount"> 0.05</td>
              {% elif status == 'R' %}
              <td id = "discount"> 0.05</td>
              {% else %}
              <td id = "discount"> 0.00</td>
              {% endif %}
            </tr>
            <tr>
              <th>Total:</th>
              <td id = "total">0</td>
            </tr>

            {% comment %} We don't have time to use credit card # {% endcomment %}
            {% comment %} <tr>
              <th>Card Number:</th>
              <td id = "card">
                <input maxlength="16" minlength="16" placeholder="xxxx-xxxx-xxxx-xxxx">
              </td>
            </tr> {% endcomment %}

            {% comment %} Address not needed {% endcomment %}
            {% comment %} <tr>
              <th>Address:</th>
  
              <!--Placeholder shows customer stored address(default)-->
  
              <td id = "address">
                <input id = "address-input" minlength="12" placeholder = "123 45th St NY 11111">
              </td>
            </tr>  {% endcomment %}
           
          </table>
  
        
        {% comment %} <input type="checkbox" value="address"> Use default address {% endcomment %}
        <br><br>
  
        <input type="submit" value="Submit Order">
        </form>
      </div>
  

{% endblock %}