{% extends "base_customer.html" %}

<!-- dummy html template for demonstration, only exists so git recognizes an empty folder -->
<!-- feel free to delete this -->

{% block page_css %}
<!-- page css -->

{% endblock %}

{% block page_js %}

<script>
/*
Speech must be inputed in format: quantity, name
ex. "3 chicken 4 salad 5 fish"
*/

function speechTranscript(_callback) {

  console.log('Listening for your order...');
  
  speechSynthesis.speak(new SpeechSynthesisUtterance('listening for your order'));

  window.SpeechRecognition = window.webkitSpeechRecognition || window.SpeechRecognition;
  let finalTranscript = '';
  let fullTranscript = '';
  let recognition = new window.SpeechRecognition();
  recognition.interimResults = true;
  recognition.maxAlternatives = 10;
  recognition.continuous = true;
  recognition.onresult = (event) => {
      let interimTranscript = '';
      for (let i = event.resultIndex, len = event.results.length; i < len; i++) {
          let transcript = event.results[i][0].transcript;
          if (event.results[i].isFinal) {
              finalTranscript += transcript;
          } else {
              interimTranscript += transcript;
          }
      }
      fullTranscript = finalTranscript + interimTranscript;
      //document.querySelector('body').innerHTML = finalTranscript + '<i style="color:#ddd;">' + interimTranscript + '</>';

  }
  recognition.start();
  recognition.onspeechend = function() {
      console.log('Speech has stopped being detected');
      recognition.stop();
      //_callback(fullTranscript);

      
      speechSynthesis.speak(new SpeechSynthesisUtterance('Your order is ' + fullTranscript));

      const wait=ms=>new Promise(resolve => setTimeout(resolve, ms));
      wait(3*1000).then(() => { 
        _callback(fullTranscript)
        /*
        let confirmation = confirmOrder();
        if(confirmation){
          _callback(fullTranscript);
        }
        else {
          speechSynthesis.speak(new SpeechSynthesisUtterance('say your order again'));
          speechTranscript(speechToItems);
        }
        */
      })
      
  }

}

async function confirmOrder(){
  window.SpeechRecognition = window.webkitSpeechRecognition || window.SpeechRecognition;
  
  let word = '';
  let recognition = new window.SpeechRecognition();
  recognition.interimResults = false;
  recognition.maxAlternatives = 1;
  recognition.continuous = true;
  recognition.onresult = (event) => {
    word = event.results[0][0].transcript;
  }
  recognition.start();
  recognition.onspeechend = function() {
    console.log('confirm order working');
    if(word == 'yes') return true;
    else return false;
  }

}


function speechToItems(fullTranscript) {
  //var fullTranscript = "one Chicken 2 Fish 8 Salad";

  console.log(fullTranscript);

  var foodQuant = [];
  var quantity = [];

  var tranArray = fullTranscript.split(" ");
  console.log(tranArray);
  var digit = {
      'zero': 0,
      'one': 1,
      'two': 2,
      'to': 2,
      'too': 2,
      'three': 3,
      'four': 4,
      'for': 4,
      'five': 5,
      'six': 6,
      'seven': 7,
      'eight': 8,
      'ate': 8,
      'nine': 9,
      'ten': 10,
      'eleven': 11,
      'twelve': 12,
      'thirteen': 13,
      'fourteen': 14,
      'fifteen': 15,
      'sixteen': 16,
      'seventeen': 17,
      'eighteen': 18,
      'nineteen': 19,
      'twenty': 20,
  }

  for (let i = 0; i < tranArray.length; i++) {

      if (tranArray[i].length > 2 | tranArray[i] == 'to') {
          quantity.push(digit[tranArray[i]]);
          i++;
      } else {
          quantity.push(Number(tranArray[i]));
          i++;
      }
      foodQuant.push(tranArray[i]);
  }
  console.log(foodQuant);
  console.log(quantity);


  var itemNames = document.getElementsByClassName("item-name");

  for (let i = 0; i < foodQuant.length; i++) {

      for (let j = 0; j < itemNames.length; j++) {
          if (foodQuant[i].toLowerCase() == itemNames[j].innerHTML.toLowerCase()) {
              document.getElementsByClassName("quantity")[j].value = quantity[j];
              break;
          }
      }
  }
  calculateTotal();

}

function calculateTotal() {
  var total = 0;
  var discount = Number(document.getElementById("discount").innerText);

  var items = document.getElementsByClassName("item");
  for (var i = 0; i < items.length; i++) {
      var item = items[i];
      var price = Number(item.getElementsByClassName("price")[0].innerHTML);
      var qty = Number(item.getElementsByClassName("quantity")[0].value);
      total += price * qty;
  }
  total = total - total * discount;
  var subTotal = total.toFixed(2);
  document.getElementById("total").innerHTML = subTotal;
}

</script>


{% endblock %}

{% block page_content %}

{% comment %} //html {% endcomment %}
    <div class = "order">
        <a href="{% url "customer-restaurant" pk=restaurant.id %}">
          <button id = "back-button">Back to restaurant </button>
        </a>
        <h2>Order:</h2>
  
        <button id="speech-order" onclick="speechTranscript(speechToItems)">Order by voice</button>
  
        <form id = "order-form" method="POST" action="{% url "customer-restaurant-order" pk=restaurant.id %}">
          {% csrf_token %}
          <table id = "order-table">
            <tr>
              <th>Item</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Rating</th>
            </tr>
  
            <!--Loop restaurant items putting quantity form-->
            {% for food in foods %}
            <tr class = "item">
              <td class="item-name">{{ food.name }}</td>
              <td><input class="quantity" name="{{ food.id }}" type = "number" min = "0" max = "20" onchange = "calculateTotal()"></td>
              <td class="price">
                {% if status == 'V' %}
                  {% if food.vip_free %}
                  0
                  {% else %}
                  {{ food.price }}
                  {% endif %}
                {% else %}
                {{ food.price }}      
                {% endif %}
              </td>
              <td class="rating">{{ food.avg_rating }}/5</td>
            </tr>
            {% endfor %}
          </table>
  
          <br>
          <table id = "order-details">
          
            <tr>
              <th>Discount (0.05 = 5% ):</th>
              {% if status == 'V' %}
              <td id = "discount"> 0.05</td>
              {% elif status == 'R' %}
              <td id = "discount"> 0.05</td>
              {% else %}
              <td id = "discount"> 0.00</td>
              {% endif %}
            </tr>
            <tr>
              <th>Total:</th>
              <td id = "total">0</td>
            </tr>

            {% comment %} We don't have time to use credit card # {% endcomment %}
            {% comment %} <tr>
              <th>Card Number:</th>
              <td id = "card">
                <input maxlength="16" minlength="16" placeholder="xxxx-xxxx-xxxx-xxxx">
              </td>
            </tr> {% endcomment %}

            {% comment %} Address not needed {% endcomment %}
            {% comment %} <tr>
              <th>Address:</th>
  
              <!--Placeholder shows customer stored address(default)-->
  
              <td id = "address">
                <input id = "address-input" minlength="12" placeholder = "123 45th St NY 11111">
              </td>
            </tr>  {% endcomment %}
           
          </table>
  
        
        {% comment %} <input type="checkbox" value="address"> Use default address {% endcomment %}
        <br><br>
  
        <input type="submit" value="Submit Order">
        </form>
      </div>
  

{% endblock %}