{% extends "base_deliverer.html" %}

<!-- dummy html template for demonstration, only exists so git recognizes an empty folder -->
<!-- feel free to delete this -->

{% block page_css %}
<!-- page css -->
{% endblock %}

{% block page_js %}
<!-- page javascript -->
{% endblock %}

{% block page_content %}
<!-- page html -->
<h1>Home</h1>
<h4>warnings: {{ warnings }}</h4>
<h2>Orders to bid</h2>
<table style="width:100%">
  <tr>
    <th>Order ID</th>
    <th>Amount to bid</th>
    <th></th>
  </tr>
  {% for bid in open_bids %}
  <form method="POST" action="{% url "deliverer-home" %}">
    {% csrf_token %}
    <input type="hidden" name="orderId" value="{{ bid.order.id }}" />
    <tr>
      <td>{{ bid.order.id }}</td>
      <td><input type="number" name="amount" min="1"></td>
      <td><input type="submit" value="submit">Bid!</input></td>
    </tr>
  </form>
  {% endfor %}
</table>

<h2>Bidded Orders</h2>
<table style="width:100%">
  <tr>
    <th>Order ID</th>
    <th>Bidded amount</th>
  </tr>
  {% for bid in pending_bids %}
  <tr>
    <td>{{ bid.order.id }}</td>
    <td>{{ bid.price }}</td>
  </tr>
  {% endfor %}
</table>

<h2>Accepted Orders</h2>
<table style="width:100%">
  <tr>
    <th>Order ID</th>
    <th>Status</th>
    <th>Order Link</th>
  </tr>
  {% for bid in winningBids %}
  <tr>
    <td>{{ bid.order.id }}</td>
    <td>{{ bid.order.status }}</td>
    <td>
      <a href="{% url "deliverer-order" bid.order.id %}">
        <button>Click to see order</button>
      </a>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}