{% extends "base_deliverer.html" %}

<!-- dummy html template for demonstration, only exists so git recognizes an empty folder -->
<!-- feel free to delete this -->

{% block page_css %}
<!-- page css -->
<style type="text/css">
  #map {
    width: 500px;
    height: 400px;
    margin-top: 10px;
  }
</style>
{% endblock %}

{% block page_js %}
<script src="http://maps.google.com/maps/api/js?sensor=true&key=AIzaSyDPvwQ2ggvJcaRG7wtpqLeD4r0eEYuXGNI"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
function calculateRoute(from, to) {
  // Center initialized to Naples, Italy
  var myOptions = {
    zoom: 10,
    center: new google.maps.LatLng(40.84, 14.25),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  // Draw the map
  var mapObject = new google.maps.Map(document.getElementById("map"), myOptions);

  var directionsService = new google.maps.DirectionsService();
  var directionsRequest = {
    origin: from,
    destination: to,
    travelMode: google.maps.DirectionsTravelMode.DRIVING,
    unitSystem: google.maps.UnitSystem.METRIC
  };
  directionsService.route(
    directionsRequest,
    function(response, status)
    {
      if (status == google.maps.DirectionsStatus.OK)
      {
        new google.maps.DirectionsRenderer({
          map: mapObject,
          directions: response
        });
      }
      else
        $("#error").append("Unable to retrieve your route<br />");
    }
  );
}
  $(document).ready(function(){
    var origin_address = "{{ customerAddress.street_address }},{{ customerAddress.city }},{{ customerAddress.state }},{{ customerAddress.zip_code }}";
    var dest_address = "{{ {{ customerAddress.street_address }},{{ customerAddress.city }},{{ customerAddress.state }},{{ customerAddress.zip_code }} }}";
    console.log('origin: ', origin_address);
    console.log('destination: ', dest_address);
    $('#startaddr').html(origin_address)
    $('#endaddr').html(dest_address)
    calculateRoute(origin_address, dest_address);
  });

</script>
{% endblock %}

{% block page_content %}
<!-- page html -->
<h1>Order {{ order.id }}</h1>

{% if order.delivery_rating != None %}
<h2> Your Rating: {{ order.delivery_rating }}</h2>
{% endif %}

{% if order.customer_rating == None %}
<form method="POST" action="/deliverer/order/{{ order.id }}">
  {% csrf_token %}
  <label for="rating">Customer Rating</label>
  <input type="number" name="rating" id="rating" min="0" max="5" placeholder="Input a value from 0 to 5" />
  <input type="submit" value="Submit" />
</form>
{% else %}
<h2> Customer Rating: {{ order.customer_rating }}</h2>
{% endif %}

<section id="directions">
{% comment %} Use Google Maps API here {% endcomment %}
  <h1>Directions</h1>
  <h2>Start Address:</h2>
  <p id="startaddr"></p>
  <h2>End Address:</h2>
  <p id="endaddr"></p>
  <div id="map"></div>
  <p id="error"></p>
</section>
{% endblock %}