{% extends "base_manager.html" %}

<!-- dummy html template for demonstration, only exists so git recognizes an empty folder -->
<!-- feel free to delete this -->

{% block page_css %}
<!-- page css -->
{% endblock %}

{% block page_js %}
<!-- page javascript -->
{% endblock %}

{% block page_content %}
<!-- page html -->
<div class = "customers">
        <h2 id = "title">All Customers:</h2>
  
  
        <!--Get list of all customers from restaurant-->

        <table id = "cust-name">
            <tr>
                <th>Last Name:</th>
                <th>First Name:</th>
                <th>Status:</th>
                <th>Rating:</th>
                <th># Complaints received:</th>
            </tr>

            {% for info_entry in customer_info %}
            <tr>
                {% registered_customer = info_entry.get('registered_customer') %}
                {% customer_id = registered_customer.customer.user.id %}
                <td class = "last-n">{{ registered_customer.customer.last_name }}</td>
                <td class = "first-n">{{ registered_customer.customer.first_name }}</td>
                <td class = "status">{{ registered_customer.status }}</td>
                <td class = "rating">{{ registered_customer.status }}</td>
                <td class = "num-complaints">{{ info_entry.get(complaintcount) }}</td>
                <td class = "more-info">
                    <a href="{% url 'manager-customerdetails' customer_id %}" class="button">More info</a>
                </td>
            </tr>
            
        
            <form method="POST" action="{% url "manager-customers" %}">
                <input class="customer_id" type="hidden" value="{{ customer_id }}"></input>
                <div id = "status-change">
                    <input class="promote" type="button" value="promote">Promote to VIP</input>
                    <input class="demote" type="button" value="demote">Demote to Regular</input>
                    <input class="blacklist" type="button" value="blacklist">Blacklist</input>
                    <input class="remove" type="button" value="blacklist">Remove Registration</input>
                </div>
            </form>
            {% endfor %}
      </table>
    </div>
{% endblock %}