{% extends "base_manager.html" %}

<!-- dummy html template for demonstration, only exists so git recognizes an empty folder -->
<!-- feel free to delete this -->

{% block page_css %}
<!-- page css -->
{% endblock %}

{% block page_js %}
<!-- page javascript -->
{% endblock %}

{% block page_content %}
<!-- page html -->
<div class = "customers">
        <h2 id = "title">All Customers:</h2>
  
  
        <!--Get list of all customers from restaurant-->

        <table id = "cust-name">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Name</th>
                <th>Status</th>
                <th>Rating</th>
                <th>Number of Complaints</th>
                <th>Change Status</th>

            </tr>

            {% for info in customer_info %}
            <tr>
                <td class = "cust-id">{{ customer.user.id }}</td>
                <td class = "cust-username">{{ customer.user.username }}</td>
                <td class = "cust-name">{{ customer.user.first_name }} {{ customer.user.last_name }}</td>
                <td class = "status">{{ customer.status }}</td>
                <td class = "rating">{{ customer.avg_rating }}</td>
                <td class = "num-complaints">{{ num_complaints }}</td>
                <td>
                <form method="POST" action="{% url "manager-customerdetails" %}">
                {% csrf_token %}
                    <input class="user_id" name="task" type="hidden" value="status_change"></input>
                    <input class="customer_id" type="hidden" value="{{ customer_id }}"></input>
                    <div id = "status-change">
                        <input class="promote" name="action" type="submit" value="promote">Promote to VIP</input>
                        <input class="demote" name="action" type="submit" value="demote">Demote to Regular</input>
                        <input class="blacklist" name="action" type="submit" value="blacklist">Blacklist</input>
                        <input class="remove" name="action" type="submit" value="remove">Remove Registration</input>
                    </div>
                </form>
                </td>
            </tr>
            {% endfor %}
      </table>
    </div>
{% endblock %}