{% extends "base_manager.html" %}

<!-- dummy html template for demonstration, only exists so git recognizes an empty folder -->
<!-- feel free to delete this -->

{% block page_css %}
<!-- page css -->
{% endblock %}

{% block page_js %}
<!-- page javascript -->
{% endblock %}

{% block page_content %}
<!-- page html -->

<div class = "customer-details">
    <a class="button" id="back" href="{% url 'manager-customers' %}">Back to all customers</a>

    <h2 id = "title">Customer Info:</h2>
    
    <table id = "cust-name">
        <tr>
            <th>Last Name:</th>
            <th>First Name:</th>
            <th>Status:</th>
            <th>Rating:</th>
            <th># Complaints:</th>
        </tr>
        <tr>
            <td class = "last-n">{{ customer.last_name }}</td>
            <td class = "first-n">{{ customer.first_name }}</td>
            <td class = "status">{{ customer.status }}</td>
            <td class = "rating">{{ customer.avg_rating }}</td>
            <td class = "num-complaints">{{ num_complaints }}</td>
        </tr>
        <form method="POST" action="{% url "manager-customers" %}">
            <input class="customer_id" type="hidden" value="{{ customer_id }}"></input>
            <div id = "status-change">
                <input class="promote" type="button" value="promote">Promote to VIP</input>
                <input class="demote" type="button" value="demote">Demote to Regular</input>
                <input class="blacklist" type="button" value="blacklist">Blacklist</input>
                <input class="remove" type="button" value="blacklist">Remove Registration</input>
            </div>
        </form>
    </table>

        

    <div id = "staff-complaints">
        <h3>Staff complaints for customer:</h3>

        <h3 id = "food-complaints">Food Complaints:</h3>
        <table id="complaint-list">
            <tr>
                <th>Order ID:</th>
                <th>Item Name:</th>
                <th>Cook:</th>
                <th>Complaint:</th>
            </tr>

            {% for complaint in food_complaints %}

            <tr>
                <td class = "food-complaint-id">{{ complaint.order.id }}</td>
                <td class = "food-complaint-name">{{ complaint.food }}</td>
                <td class = "food-cook-name">{{ complaint.food.cook.user.first_name }} {{ complaint.food.cook.user.last_name }}</td>
                <td class = "food-complaint">{{ complaint.food_complaint }}</td>
            </tr>
          
            {% endfor %}
        </table>

        <div id = "delivery-complaints">
            <h3>Delivery Complaints:</h3>
            <table id = "delivery-comp-table">
                <tr>
                    <th>Order ID:</th>
                    <th>Deliverer:</th>
                    <th>Complaint:</th>
                </tr>

                {% for complaint in delivery_complaints %}

                <tr>
                    <td class = "deliverer-comp-id">{{ complaint.id }}</td>
                    <td class = "deliverer-name">{{ complaint.deliverer.user.first_name }} {{ complaints_received.deliverer.user.last_name }}</td>
                    <td class = "deliverer-complaint">{{ complaint.delivery_complaint }}</td>
                </tr>

                {% endfor %}
            </table>
        </div>  
    </div>


    <h3 id = "history-title">Order History:</h3>
    <table id = "order-history">
    {% for info in orders_info %}
    
        <tr>
            <th>Order ID:</th>
            <td class="order-id">{{ info.order.id }}</td>
            <th>Total Price:</th>
            <td class="total">{{ info.order.total_price }}</td>
            <th>Total Items:</th>
            <td class="item-qty">{{ info.total_items }}</td>
            <th>Delivery Status:</th>
            <td class="delivery-status">{{ info.order.status }}</td>
        </tr>

        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Rating</th>
        </tr>

        {% for food in order.order_Food %} <!-- MIGHT CAUSE PROBLEMS reverse access foreignkey-->
        <tr class = "item">
            <td class="item-name">{{ food.name }}</td>
            <td class="quantity">{{ food.quantity }}</td>
            <td class="price">{{ food.food.price }}</td>
            <td class="rating">{{ food.food_rating }}</td>
        </tr>
        {% endfor %}
    
    {% endfor %}
    </table>
</div>
{% endblock %}