{% extends "base_manager.html" %}

<!-- dummy html template for demonstration, only exists so git recognizes an empty folder -->
<!-- feel free to delete this -->

{% block page_css %}
<!-- page css -->
{% endblock %}

{% block page_js %}
<!-- page javascript -->
{% endblock %}

{% block page_content %}
<!-- page html -->
<div id = "order">
  <h2>All Delivery Bids</h2>
  <table id = "order_table" class="table table-condensed table-hover table-striped ng-table">
  {% for info in deliverybids_info %}
      <tr>
        <th id = "order_title"><h4>Order ID: {{ info.order.id }} </h4></th>
      </tr>

      <div id = "deliver_bids">
        <tr>
          <th id = "bid_title">Delivery Bids</th>
        </tr>
        <tr>
            <th>ID</th>
            <th>Price</th>
            <th>Deliverer ID</th>
            <th>Deliverer Username</th>
        </tr>

        {% for bid in info.bids %}
        <tr>
          <td class = "bid-id">{{ bid.id }}</td>
          <td class = "bid-price">{{ bid.price }}</td>
          <td class = "bid-deliverer-id">{{ bid.deliverer.user.id }}</td>
          <td class = "bid-deliverer-username">{{ bid.deliverer.user.username }}</td>
          <form method="POST" action="{% url "manager-customers" %}">
            <input class="bid_id" type="hidden" value="{{ bid.id }}"></input>
            <input class="choose_bid" task="choose_bid" type="button" value="Choose Bid"></input>
          </form>
        </tr>
        {% endfor %}
      </div>
  </table>
  {% endfor %}
  </div>
</div>
{% endblock %}