{% extends "base_manager.html" %}

<!-- dummy html template for demonstration, only exists so git recognizes an empty folder -->
<!-- feel free to delete this -->

{% block page_css %}
<!-- page css -->
<style>
.deliverybidsbtn, .pendingregistrationsbtn, .hirestaffbtn, .restaurantbtn, .staffbtn, .customersbtn {
    float: left;
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}
</style>
{% endblock %}

{% block page_js %}

{% endblock %}

{% block page_content %}

<h1>My Restaurant</h1>

{% endblock %}