{% extends "base_manager.html" %}

<!-- dummy html template for demonstration, only exists so git recognizes an empty folder -->
<!-- feel free to delete this -->

{% block page_css %}
<!-- page css -->
{% endblock %}

{% block page_js %}
<!-- page javascript -->
{% endblock %}

{% block page_content %}
<!-- page html -->

<div id = "pending_registrations">

    <div id = "customer-registrations:">
        <h2> Customer Registrations:</h2>

        <table id = "cust_table">
        <tr class = "table_header">
            <th>Last:</th>
            <th>First:</th>
            <th>Total orders:</th>
            <th>Rating:</th>
        </tr>
    
        {% for pending_customer in pending_customers %}
        <tr>
            <td class = "last">{{ pending_customer.customer.user.last_name }}</td>
            <td class = "first">{{ pending_customer.customer.user.first_name }}</td>
            <td class = "orders">{{ pending_customer.customer.order_count }}</td>
            <td class = "rating">{{ pending_customer.customer.avg_rating }}</td>
                <form method="POST" action="{% url "manager-pendingregistrations" %}">
                    <input class="user_id" type="hidden" value="{{ pending_customer.customer.user.id }}"></input>
                    <div id = "update-customer-registration">
                        <input class = "approve_button" type="button" value="approve_customer">Approve</input>
                        <input class = "reject_button" type="button" value="reject_customer">Reject</input>
                    </div>
                </form>
        </tr>
        {% endfor %}
        </table>
    </div>

    <div id = "staff-registrations:">
        <h2>Staff Registrations:</h2>

        <table id = "staff-table">
        <tr class = "table_header">
            <th>Last:</th>
            <th>First:</th>
            <th>Staff Type:</th>
        </tr>
        
        {% for pending_staff in pending_staff_info %}
            <tr>
                <td class = "staff-last">{{ pending_staff.staff.user.last_name }}</td>
                <td class = "staff-first">{{ pending_staff.staff.user.first_name }}</td>
                <td class = "staff-type">{{ pending_staff.staff_type }}</td>
                <form method="POST" action="{% url "manager-pendingregistrations" %}">
                    <input class="user_id" type="hidden" value="{{ pending_staff.staff.user.id }}"></input>
                    <div id = "update-staff-registration">
                        <input class = "approve_button" type="button" value="approve_staff">Approve</input>
                        <input class = "reject_button" type="button" value="reject_staff">Reject</input>
                    </div>
                </form>
            </tr>
        {% endfor %}

        </table>
    </div>
</div>

{% endblock %}