{% extends "base_manager.html" %}

<!-- dummy html template for demonstration, only exists so git recognizes an empty folder -->
<!-- feel free to delete this -->

{% block page_css %}
<!-- page css -->
<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}

input, #state {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
</style>
{% endblock %}

{% block page_js %}
<!-- page javascript -->
{% endblock %}

{% block page_content %}
<div class="restaurant_details">
    <h1>Restaurant</h1>
    <p>{{ restaurant.name }}</p>
    <form method="POST" action="{% url 'manager-restaurant' %}">
    {% csrf_token %}
        <input type="text" placeholder="Edit Name" name="name">
        <button type="submit" name="edit_name">Submit</button>
    </form>
    <hr>
    <h1>Description</h1>
    <p>{{ restaurant.description }}</p>
    <form method="POST" action="{% url 'manager-restaurant' %}">
    {% csrf_token %}
        <input type="text" placeholder="Edit Description" name="description">
        <button type="submit" name="edit_description">Submit</button>
    </form>
</div>

{% endblock %}