{% extends "base_manager.html" %}

<!-- dummy html template for demonstration, only exists so git recognizes an empty folder -->
<!-- feel free to delete this -->

{% block page_css %}
<!-- page css -->
{% endblock %}

{% block page_js %}
<!-- page javascript -->
{% endblock %}

{% block page_content %}
<!-- page html -->

<div class = "staff">
  
  <h2>All Staff:</h2>

  <table id = "staff-table">

    <!--Table header-->
    <tr>
      <th>Last:</th>
      <th>First:</th>
      <th>Job:</th>
      <th>Rating:</th>
      <th># Complaints:</th>
      <th>Warnings:</th>
    </tr>

    <!--Loop following 2 rows for all staff of restaurant-->
    <div id = "staff-data">
      <tr>
        <td class = "last-n">Smith</td>
        <td class = "first-n">John</td>
        <td class = "job">Cook</td>
        <td class = "rating">3.5</td>
        <td class = "num-complaints">2</td>
        <td class = "warnings">1</td>
      </tr>
      <tr>
        <th>Salary:</th>
        <td class = "salary">500</td>
        <td><input class = "input-salary"></td>
        <td><button class = "edit">Edit Salary</button></td>
        <td><button class = "order-hist">View order history</button></td> 
        <td><button class = "remove-warning">Remove warning</button></td>
        <td><button class = "fire">Fire</button></td>
        
      </tr>
    </div>
  </table>

</div>

{% endblock %}